label {
    margin-top: 10px;
}
.rowlm {
    margin: auto;
}

.colnm {
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

form {
    padding: 20px;
}

form h2,
.frmgrp {
    margin-left: 10px;
}

.btngrp {
    padding: 20px 0px 20px 0px; 
    
}

.update, .cancel {
    width: 100%;
}

.cancel { 
    margin-top: 20px;
}

input:hover {
    border-color: green;
}

button:hover {
    /* background: linear-gradient(to right, #009FFF 0%, #ec2F4B 100%); */
    background: green;
}