<!-- <p>login works!</p> -->

<!-- <p>student-update works!</p> -->

<div class="row mx-4 my-4">
    <div  class="col-lg-6 col-md-12 col-sm-12 colnm shadow" >
        <form class="formGroup" [formGroup]="loginForm">
            <h2 >Login</h2>
            <div  class="formGroup frmgrp" >
                <!-- Firstname -->
                <label for="email" >Email : </label>
                <input  class="form-control" type="text" formControlName="email">
                <div class="text-danger" *ngIf="email.invalid && (email.dirty|| email.touched)">
                    Please enter valid email<br>Must be in Format : abcd12@gmail.com
                </div>
                <!-- Firstname -->

                <!-- Lastname -->
                <label for="password" >Password : </label>
                <input  class="form-control" type="password" formControlName="password">
                <div class="text-danger" *ngIf="password.invalid && (password.dirty|| password.touched)">
                    Please enter valid password<br>Password must contain at least one small letter, one capital letter, at least one number, and be longer than six charaters.
                </div>
                <!-- Lastname -->

                <!-- Login and new user button -->
                <div  class="btn-block btngrp" >
                    <div class="update btn-block" >
                        <button [disabled]="loginForm.invalid" class="btn btn-block btn-primary" (click)="onLoginClick()" >Login</button>
                    </div>
                    <div class="cancel" >
                        <a class="btn btn-block " (click)="onRegisterClick()">New User? SignUp </a>
                    </div>
                </div>
                <!-- Login and new user button -->
                
            </div>

        </form>
    </div>
</div>
