

<!--BootStrap Container-->
<div class="container">
  <div class="row justify-content-center">
    <div class=" col-sm-12 col-md-6 col-lg-6">
      <form formGroup = "profileUpdate" novalidate>


<!-- FirstName-->
        <div class="form-row">
          <div class="col-12 col-sm-12 col-md-12 ">
            <div class="form-group" [ngClass]="{
      'has-success': firstname.valid && (firstname.dirty || firstname.touched ),
      'has-danger' : firstname.invalid && (firstname.dirty || firstname.touched )

    }">

             <!--Firstname Validation-->
              <label>FirstName</label>
              <input type="text" class="form-control" formControlName="firstname">
              <div class="form-control-feedback" *ngIf="firstname.errors && (firstname.dirty || firstname.touched )">
                <p *ngIf="firstname.errors.required">Firstname is required</p>
                <p *ngIf="firstname.errors.pattern">Enter a valid Firstname</p>
              </div>

            </div>
          </div>
        </div>
<!--FirstName End-->


<!--LastName-->
        <div class="form-row">
          <div class="col-12 col-sm-12 col-md-12 ">
            <div class="form-group" [ngClass]="{
  'has-success': firstname.valid && (firstname.dirty || firstname.touched ),
  'has-danger' : firstname.invalid && (firstname.dirty || firstname.touched )

}">
              <!--Lastname Validation-->
              <label>LastName</label>
              <input type="text" class="form-control" formControlName="lastname">
              <div class="form-control-feedback" *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                <p *ngIf="lastname.errors.required">Lastname is required</p>
                <p *ngIf="lastname.errors.pattern">Enter a valid Lastname</p>
              </div>

            </div>
          </div>
        </div>
<!--LastName End-->

<!--Email-->
        <div class="form-row">
          <div class="col-12 col-sm-12 col-md-12 ">
            <div class="form-group" [ngClass]="{
      'has-success': email.valid && (email.dirty || email.touched ),
      'has-danger' : email.invalid && (email.dirty || email.touched )

    }">
             <!--Email Validation-->
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email">
              <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched )">
                <p *ngIf="email.errors.required">Email is required</p>
                <p *ngIf="email.errors.pattern">Enter a valid Email ID</p>
              </div>
            </div>
          </div>
        </div>
<!--Email End-->


<!--Mobile Number-->
        <div class="form-row">
          <div class="col-12 col-sm-12 col-md-12 ">
            <div class="form-group" [ngClass]="{
      'has-success': firstname.valid && (firstname.dirty || firstname.touched ),
      'has-danger' : firstname.invalid && (firstname.dirty || firstname.touched )

    }">
               <!--Mobile Number Validation-->
              <label>Mobile Number</label>
              <input type="text" class="form-control" formControlName="mobilenumber">
              <div class="form-control-feedback"
                *ngIf="mobilenumber.errors && (mobilenumber.dirty || mobilenumber.touched )">
                <p *ngIf="mobilenumber.errors.required">Mobile Number is required</p>
                <p *ngIf="mobilenumber.errors.pattern">Enter a valid Mobile Number</p>
              </div>
            </div>
          </div>
        </div>

<!--Mobile Number End-->

        <button class="btn btn-primary" type="submit">Update Information</button>
        <a routerLink="['#']"> <button class="btn btn-danger" type="submit">Cancel</button></a>

      </form>
    </div>
  </div>
</div>
