<!-- Material Icons for password eye -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Material Icons for password eye -->

<!-- List of Course UI -->
<div class="container-12 mx-4 my-4">

  <!-- Search and Add Course -->
  <div class="row p-3 mb-2 bg-light text-white">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <form class="form-inline justify-content-end">
        <div class="my-2 mx-2 my-sm-0">
          <button type = "button" (click)="addCourse()" class="btn btn-primary float-center"> Add Course</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Search and Add Course -->

  <!--  list of Course Table -->
  <div class="row border-top border-primary">

    <!-- Table of course list -->
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 border-left ">
      <h2 class="text-center text-monospace text-secondary">List of Courses</h2>
      <div class="card shadow border-white">
        <div class="card-body">
          <table class="table text-center table-bordered table-hover uk-table-condensed">
            <thead class="table-primary active">
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Course Name</th>
                <th scope="col">Duration</th>
                <th scope="col">Value</th>
                <th scope="col">Fees</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let item of courses; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.courseName}}</td>
                <td>{{item.duration}}</td>
                <td>{{item.value}}</td>
                <td>{{item.fees}}</td>
                <td><button (click)="editCourse(item._id)" class="btn btn-warning text-dark w-50">Edit</button>
                </td>
                <td><button (click)="deleteCourse(item._id)" class="btn btn-danger">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <small *ngIf="disableCourse">No Course added</small>
    </div>
    <!-- Table of course list -->
  </div>
  <!-- Filter and list of Course label -->
</div>
