<!-- Institute Update Form -->
<div class="container-fluid">
  <div class="row justify-content-center mx-4 my-4">
    <div class="col-md-8 col-sm-8 col-lg-6 shadow-lg p-4 rounded ">

      <!-- Institute Register Header -->
      <div class="form-group text-center">
        <h5 for="PageName" class="text-capitalize text-info font-weight-bold">Institute Register</h5>
      </div>
      <!-- Institute Register Header -->


      <form (ngSubmit)="onSubmit()" [formGroup]="instituteRegisterForm"
        [class.has-error]="iname.invalid && iname.touched">

        <!-- Institute Name -->
        <div class="form-group">
          <label for="InstituteName">*Institute Name: </label>

          <input type="text" class="form-control" formControlName="iname" pattern="[a-zA-Z]*">
          <small class="help-block" *ngIf="iname.errors && (iname.dirty || iname.touched)">Please enter institute
            name</small>
          <small class="help-block" *ngIf="iname.errors?.pattern"><br>Should contain Alphabets only</small>
        </div>
        <!-- Institute Name -->

        <!-- AddrLine1 -->
        <div class="form-group">
          <label for="AddressLine1">*Address Line1:</label>
          <input type="text" class="form-control" formControlName="addr1">
          <small class="help-block" *ngIf="addr1.errors && (addr1.dirty || addr1.touched)">Please Enter
            Address</small>
        </div>
        <!-- AddrLine1 -->

        <!-- AddrLine2 -->
        <div class="form-group">
          <label for="AddressLine2">Address Line2:</label>
          <input type="text" class="form-control" formControlName="addr2">
        </div>
        <!-- AddrLine2 -->

        <!-- State -->
        <div class="form-group">
          <label for="State">*State: </label>
          <select required class="form-control" name="State" [(ngModel)]="instituteDemoObj.state" formControlName="state" (change)="instituteDemoObj.onchange()">
            <option value="" disabled selected>Choose your state</option>
            <option class="text-capitalize alert" name="options" *ngFor="let item of instituteDemoObj.stateArray" [ngValue]="item">{{item.state}}</option>
          </select>
          <small class="help-block" *ngIf="state.invalid || state.pristine && state.touched">Please select
            state</small>
        </div>
        <!-- State -->

        <!-- City -->
        <div class="form-group">
          <label for="City">*City: </label>
          <select class="form-control" formControlName="city" [disabled] = "instituteDemoObj.disabledcity">
            <option value="" disabled selected>Choose your city</option>
            <ng-container *ngFor="let item of instituteDemoObj.cityArray">
              <ng-container *ngFor="let cityNames of item.city">
                <option *ngIf="instituteDemoObj.state.id == item.id">
                  {{cityNames}}
                </option>
              </ng-container>
            </ng-container>
          </select>
          <small class="help-block" *ngIf="city.touched && (city.pristine || city.invalid)">Please select
            city</small>
        </div>
        <!-- City -->

        <!-- Pincode -->
        <div class="form-group">
          <label class="control-label" for="pincode">*Pincode: </label>
          <input name="Pincode" type="number" pattern="^[1-9][0-9]{5}$" class="form-control" formControlName="pincode">
          <small class="help-block" *ngIf="pincode.invalid && pincode.errors && (pincode.dirty || pincode.touched)">
            Should be 6 digits long
          </small>
        </div>
        <div>
          <!-- Pincode -->

          <!-- Button  -->
          <div class="row mx-4">
            <!-- Register Btn -->
              <button [disabled]='!instituteRegisterForm.valid' type="submit"
                class="btn btn-primary btn-block shadow-lg float-center p-2 ">REGISTER
              </button>
            <!-- Register Btn -->
          </div>
          <!-- Button -->
        </div>
      </form>
    </div>
  </div>
  <!-- Institute Register Form -->
