<!-- Material Icons for password eye -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Material Icons for password eye -->

<!-- User Registeration form -->
<div class="container-fluid">
  <div class="row justify-content-center align-items-center mx-4 my-4">
    <div class=" col-sm-8 col-md-8 col-lg-6  shadow-lg p-3 mb-5 rounded ">

      <form [formGroup]="regsiterForm" class="colmn">
        <h2>Register</h2>

        <!-- First Name -->
        <div class="form-group" >
          <label class="alert-link control-label" for="exampleInputPassword1">FirstName: </label>
          <input required formControlName="firstName" type="text" class="form-control"  name="FirstName"
            pattern="[a-zA-Z]*">

          <small class="help-block" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">Please enter First
            Name
          </small>
          <small class="help-block" *ngIf="firstName.errors?.pattern"><br>Should contain Alphabets only</small>
        </div>
        <!-- First Name -->

        <!-- Last Name -->
        <div class="form-group" >
          <label class="alert-link control-label" for="exampleInputPassword1">LastName: </label>
          <input required formControlName="lastName" type="text" class="form-control" name="LastName"
            pattern="[a-zA-Z]*">

          <small class="help-block" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">Please enter Last
            Name
          </small>
          <small class="help-block" *ngIf="lastName.errors?.pattern"><br>Should contain Alphabets only</small>
        </div>
        <!-- Last Name -->


        <!-- Email ID -->
        <div class="form-group" >
          <label class="alert-link control-label" for="exampleInputPassword1">Email Id: </label>
          <input required formControlName="email" type="email" class="form-control" name="Email"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">

          <small class="help-block" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter Email
            Id
          </small>
          <small class="help-block" *ngIf="email.errors?.pattern"><br>You can use letters, numbers, periods and
            underscore</small>
        </div>
        <!-- Email ID -->

        <!-- Password -->
        <div class="form-group" >
          <label class="alert-link control-label" for="exampleInputPassword1">Password: </label>
          <div class="input-group">
            <input required data-toggle="password" formControlName="password" type="{{typePassword}}" class="form-control"
              name="Password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).{8,}">
            <div class="input-group-append">
              <div class="input-group-text bg-white"><span class="material-icons" (click)="toggle()">
                  {{togglePassword}}
                </span></div>
            </div>
          </div>
          <small class="help-block" *ngIf="password.errors && (password.dirty || password.touched)">Please enter valid
            Password
          </small>
          <small class="help-block" *ngIf="password.errors?.pattern"><br>Use 8 or more characters with a mix of letters,
            numbers & symbols ;)</small>
        </div>
        <!-- Password -->

        <!-- Register Button -->
        <button [disabled]="regsiterForm.invalid" type="submit"
          class="btn btn-primary btn-block btn-group-lg shadow-lg" (click)="onSubmit()">REGISTER </button>
        <!-- Register Button -->
        <div class="form-group float-right mt-3">
          <h5 class="alert alert-link "><a [routerLink]="['/auth/login']">Already Register? Login In</a></h5>
        </div>
      </form>
    </div>
  </div>
  <!-- User Registeration Form -->
