<!-- <p>student-update works!</p> -->

<div class="row" style="/*border: 1px solid black;*/">
    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 shadow" style="/*border: 1px solid red;*/ border-radius: 5px; vertical-align: middle; margin: auto;" >
        <form class="form" style="/*border: 1px solid blue;*/ padding: 20px;">
            <h2 style="margin-left: 10px;">Student Update</h2>
            <div class="form-group" style="margin-left: 10px; /*border: 1px solid green;*/">
                <label for="firstName" style="margin-top: 10px;">Firstname : </label>
                <input id="firstName" class="form-control" type="text" name="firstName">

                <label for="lastName" style="margin-top: 10px;">Lastname : </label>
                <input id="lastName" class="form-control" type="text" name="lastName">

                <label for="email" style="margin-top: 10px;">Email : </label>
                <input id="email" class="form-control" type="text" name="email">

                <!-- <label for="courses" style="margin-top: 10px;">Courses enrolled : </label>
                <input id="courses" disabled class="form-control" type="text" name="courses"> -->

                <label for="courses" style="margin-top: 10px;">Courses enrolled : </label>
                <ul class="list-group" *ngFor="let item of list">
                    <!-- <li class="list-group-item disabled">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li> -->
                    <li class="list-group-item">{{item.no}}</li>
                  </ul>

                <div style="padding: 20px 0px 20px 0px; ">
                    <button class="btn btn-primary" style="width: 48.95%; margin-right: 12.25px; margin-top: 10px;" (click)="updateStudent()">Update</button>
                    <button class="btn btn-danger" style="width: 48.95%; margin-top: 10px;">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>
