<div class="container">
  <h2>Course Create Form</h2>
  <form [formGroup]="courseCreateForm">
            <div class="form-row">
              <div class="form-group col-md-6">

                <!-- Course name -->
                <label for="courseName">Course Name</label>
                <input [class.is-invalid] = "courseCreateForm.get('courseName').invalid && courseCreateForm.get('courseName').touched"
                  type="text" class="form-control" formControlName = "courseName" id="courseName" placeholder="Enter Course Name">
                <div *ngIf="(courseNameValidate.invalid && courseNameValidate.touched) || courseNameValidate.dirty">
                  <h6 style="text-align: left;" *ngIf="courseNameValidate.errors?.required" class="text-danger">*Course name is required</h6>
                  <h6 style="text-align: left;" *ngIf="courseNameValidate.errors?.pattern" class="text-danger">*Please provide a valid Course name</h6>
                </div>
                <!-- Course name end -->
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <!-- Duration  -->
                <label for="duration">Duration</label>
                <input [class.is-invalid] = "courseCreateForm.get('duration').invalid && courseCreateForm.get('duration').touched"
                  list="numbers" class="form-control" formControlName="duration" placeholder="Choose">
                <datalist id="numbers">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </datalist>
                <div *ngIf="(durationValidate.invalid && durationValidate.touched) || durationValidate.dirty">
                  <h6 style="text-align: left;" *ngIf="durationValidate.errors?.required" class="text-danger">*Duration is required</h6>
                </div>
                <!-- Duration end -->
              </div>

              <div class="form-group col-md-3">
                <!-- Value -->
                <label for="value">Value:</label>
                <input [class.is-invalid] = "courseCreateForm.get('value').invalid && courseCreateForm.get('value').touched"
                  list="list-value" class="form-control" formControlName="value" placeholder="Years/Months">
                <datalist id="list-value">
                  <option>Months</option>
                  <option>Years</option>
                </datalist>
                <div *ngIf="(valueValidate.invalid && valueValidate.touched) || valueValidate.dirty">
                  <h6 style="text-align: left;" *ngIf="valueValidate.errors?.required" class="text-danger">*Value is required</h6>
                </div>
                <!-- Value end -->
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <!-- Fees -->
                <label for="fess">Fees:</label>
                <input [class.is-invalid] = "courseCreateForm.get('fees').invalid && courseCreateForm.get('fees').touched"
                  type="text" class="form-control" id="fees" formControlName="fees" placeholder="Enter Fees">
                <div *ngIf="(feesValidate.invalid && feesValidate.touched) || feesValidate.dirty">
                  <h6 style="text-align: left;" *ngIf="feesValidate.errors?.required" class="text-danger">*Fees is required</h6>
                  <h6 style="text-align: left;" *ngIf="feesValidate.errors?.pattern" class="text-danger">*Please provide a valid Fees</h6>
                </div>
                <!-- Fees end -->
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <button [disabled]="courseCreateForm.invalid" type="submit" class="btn btn-success" (click)="createCourse()" >Create Course</button>
              </div>

              <div class="form-group col-md-2">
                <button (click)="cancel()" class="btn btn-danger">Cancel</button><br><br>
              </div>
            </div>
  </form>
</div>