<!-- HEADER START-->
<!-- Bootstrap CDN(content delivery network)-->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <div class="col-12 col-md-4 col-sm-12">
      <div class="header-logo">
        <a href="#" class="logo">
          <!--<img src="./assets/logo.jpg" alt="" />-->
          <h2>LOGO</h2>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-12">
      <nav class="navbar navbar-light">
        <form class="form-inline">
          <div class="search-bar">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </div>
        </form>
      </nav>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-end navbar-nav ml-auto mt-2 mt-lg-0">
        <div class="help-logo">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="./assets/help.png" alt="" /><span class="help"
                >Help</span
              ></a
            >
          </li>
        </div>
        <div class="profile-logo">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"

            >
              <img src="./assets/profile pic.png" alt="" />
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdown"
            >
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<!-- HEADER END-->

<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Courses</a
      >
      <a
        href="#"
        routerLinkActive="router-link-active"
        class="list-group-item list-group-item-action bg-light"
        >Students</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Institute</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >Profile</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
