<!-- <p>login works!</p> -->

<!-- <p>student-update works!</p> -->

<div class="row mx-4 my-4">
  <div  class="col-lg-6 col-md-12 col-sm-12 colnm shadow" >
      <form class="formGroup" [formGroup]="forgotPasswordForm">
          <h2 >Forgot pass</h2>
          <div  class="formGroup frmgrp" >
              <!-- Firstname -->
              <label for="email" >Email : </label>
              <input  class="form-control" type="text" formControlName="email">
              <div class="text-danger" *ngIf="email.invalid && (email.dirty|| email.touched)">
                  Please enter valid email<br>Must be in Format : abcd12@gmail.com
              </div>
              <!-- Firstname -->

              <!-- Lastname -->
              <label for="password" >New Password : </label>
              <div class="input-group">
              <input  class="form-control" type={{typePassword}} formControlName="newPassword">
              <div class="input-group-append">
                  <div class="input-group-text bg-white"><span class="material-icons" (click)="toggle()">
                      {{togglePassword}}
                    </span></div>
              </div>
              </div>
              <div class="text-danger" *ngIf="newPassword.invalid && (newPassword.dirty|| newPassword.touched)">
                  Please enter valid password<br>Password must contain at least one small letter, one capital letter, at least one number, and be longer than or equal to 8 charaters.
              </div>
              <!-- Lastname -->

              <!-- Login and new user button -->
              <div  class="btn-block btngrp" >
                  <div class="update btn-block" >
                      <button [disabled]="forgotPasswordForm.invalid" class="btn btn-block btn-primary" (click)="onClick()" >Ok</button>
                  </div>
              </div>
              <!-- Login and new user button -->

          </div>

      </form>
  </div>
</div>
