<div class=" row justify-content-center align-items-center mx-4 ">
  <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 shadow">
    <form class="formGroup" [formGroup]="studentRegistrationForm"
      [class.has-error]="(firstName.invalid && firstName.touched) || (lastName.invalid && lastName.touched) || (email.invalid && email.touched) || (fcourse.invalid && fcourse.touched)">
      <h2>Student Register</h2>

      <label for="firstName">FirstName</label>
      <input type="text" class="form-control" id="FirstName" pattern="^[a-zA-Z]*$" formControlName="firstName">
      <div class="text-danger" *ngIf="(firstName.invalid && firstName.touched)">
        FirstName is required
      </div>
      <div *ngIf="firstName.errors?.pattern" style="color: red">
        Firstname not valid.
      </div> <br>

      <label for="lastName">LastName</label>
      <input type="text" class="form-control" id="lastName" pattern="^[a-zA-Z]*$" formControlName="lastName">
      <div class="text-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        LastName is required
      </div>
      <div *ngIf="lastName.errors?.pattern" style="color: red">
        Lastname not valid.
      </div><br>

      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" formControlName="email">
      <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        Email is Required
      </div>
      <div *ngIf="email.errors?.pattern" style="color: red">
        Email not valid.
      </div><br>

      <label>Course</label>
      <ng-multiselect-dropdown name="fcourse" [settings]="dropdownSettings" [data]="Courses" formControlName="fcourse"
        [attr.disabled]="disabled"></ng-multiselect-dropdown>

      <div class="text-danger" *ngIf="fcourse.invalid && (fcourse.dirty || fcourse.touched)">
        Course is Required
      </div>
      <br>

      <button [disabled]="studentRegistrationForm.invalid" class="btn btn-primary">Register</button> <button
        (click)="cancel()" class="btn btn-danger">Cancel</button><br><br>
    </form>
  </div>
</div>
